<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GNUCash_Backups.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <GNUCash_Backups.Properties.Settings>
            <setting name="MainDirPath" serializeAs="String">
                <value>D:\GNUCash Files</value>
            </setting>
            <setting name="CloudDirPath" serializeAs="String">
                <value>E:\Box Sync\GNUCash Encrypted Files</value>
            </setting>
            <setting name="ExtraDirPath" serializeAs="String">
                <value>E:\GNUCash Extra Backup</value>
            </setting>
        </GNUCash_Backups.Properties.Settings>
    </userSettings>
</configuration>